* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: rgb(31, 33, 61);
}

.bandeVisuel {
  height: 8px;
  width: 100%;
  background: linear-gradient(0.25turn, #6571ee, #e66465);
  z-index: 1000;
  position: fixed;
}

header {
  height: 65px;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
}

.barreHeader {
  position: absolute;
  height: 65px;
  width: 100%;
  background: rgb(43, 46, 78);
}

.checkboxClass {
  display: none;
}

img {
  width: 30px;
  height: auto;
}

.labelClass {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-right: 15px;
  background: rgb(43, 46, 78);
  cursor: pointer;
  top: 5px;
  z-index: 700;
}

.titreMenu {
  color: #6571ee;
  font-size: 10px;
  position: absolute;
  top: 35px;
  left: 10px;
  opacity: 1;
  transition: all, 0.3s;
}

.labelClass:hover > p {
  opacity: 0;
}

.point1 {
  position: absolute;
  top: 5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(190, 71, 220);
}

.point1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(159, 88, 206);
}

.point1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(109, 51, 147);
  transition: all, 0.3s;
}

.labelClass:hover > .point1::after {
  background: rgb(241, 14, 75);
}

.point2 {
  position: absolute;
  top: 17.5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(186, 44, 110);
  transition: all, 0.15s;
}

.labelClass:hover > .point2 {
  background: rgb(212, 72, 11);
}

.point2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(208, 71, 71);
}

.point2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(137, 79, 177);
}

.point3 {
  position: absolute;
  top: 29.5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(11, 79, 146);
}

.point3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(241, 117, 14);
}

.point3::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(11, 93, 175);
}

/* bouton paramètre */

.btnParam {
  cursor: pointer;
}

.param {
  height: 30px;
  width: 30px;
  fill: rgb(103, 76, 240);
  margin-right: 15px;
}

/* bouton recherche */

.btnRech {
  cursor: pointer;
}

.rech {
  height: 30px;
  width: 30px;
  fill: rgb(216, 84, 93);
  margin-right: 20px;
}

/* titre FRANDROID */

.logoF {
  display: flex;
  justify-content: center;
  align-items: center;
}

.F {
  position: relative;
  top: -1px;
}

.dessus {
  height: 6px;
  width: 20px;
  background: linear-gradient(0.25turn, #f33ded, #3c4cf6);
  margin-bottom: 2px;
  border-radius: 3px;
}

.milieu {
  height: 6px;
  width: 12px;
  background: linear-gradient(0.25turn, #ff8b32, #f33ded);
  border-radius: 3px;
}

.dessous {
  height: 6px;
  width: 6px;
  background: blue;
  margin-top: 2px;
  border-radius: 3px;
  background: #ff8b32;
}

h1 {
  color: #3c4cf6;
  margin-right: 20px;
}

/* Sous menu 1 */
a {
  text-decoration: none;
  font-size: 20px;
}

.Actus {
  color: #6571ee;
  margin-right: 8px;
}

.barre1 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #6571ee;
  transition: all, 0.3s;
}

.menuSimple1:hover > .barre1 {
  width: 50px;
}

/* Sous menu 2 */

.Tests {
  color: #65eed5;
  margin-right: 8px;
}

.barre2 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #65eed5;
  transition: all, 0.3s;
}

.menuSimple2:hover > .barre2 {
  width: 45px;
}

/* Sous menu 3 */

.Guides {
  color: #b9468b;
  margin-right: 8px;
}

.barre3 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #b9467a;
  transition: all, 0.3s;
}

.menuSimple3:hover > .barre3 {
  width: 63px;
}

/* Sous menu 4 */

.BonsPlans {
  color: #d0592d;
  margin-right: 8px;
}

.barre4 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #d0592d;
  transition: all, 0.3s;
}

.menuSimple4:hover > .barre4 {
  width: 98px;
}

/* Sous menu 5 */

.Tutos {
  color: #c065ee;
  margin-right: 8px;
}

.barre5 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #c065ee;
  transition: all, 0.3s;
}

.menuSimple5:hover > .barre5 {
  width: 49px;
}

/* Menu déroulant */

.menuChecked {
  width: 50px;
  height: 50px;
  top: 13px;
  border-radius: 50% 50%;
  position: absolute;
  background: rgb(43, 46, 78);
  transition: all 0.5s;
  z-index: 500;
  position: fixed;
}

.checkboxClass:checked + .menuChecked {
  transform: scale(100);
}

.checkboxClass:checked ~ .labelClass > .point1 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .point2 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .point3 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > p {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .croixComplete > .croix {
  width: 20px;
  height: 4px;
  border-radius: 2px 2px;
  top: 15px;
  left: 15px;
  position: absolute;
  background: rgb(103, 76, 240) 00;
  transform: rotate(45deg);
}

.checkboxClass:checked ~ .labelClass > .croixComplete > .croix2 {
  width: 20px;
  height: 4px;
  border-radius: 2px 2px;
  top: 15px;
  left: 15px;
  position: absolute;
  background: rgb(103, 76, 240) 00;
  transform: rotate(135deg);
}

/* header du menu */

.menu {
  position: absolute;
  display: none;
  transition: all, 0.5s;
}

.checkboxClass:checked ~ .menu {
  display: block;
  z-index: 1800;
  top: 0px;
  left: 125px;
  width: 800px;
  height: auto;
}

.hUn {
  font-size: 2em;
}

.sousHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 65px;
}

li {
  list-style-type: none;
}

.reseaux {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook {
  height: 25px;
  width: 25px;
  fill: #3b5998;
  margin-right: 20px;
}

.instagram {
  height: 30px;
  width: 30px;
  fill: rgb(215, 63, 73);
  margin-right: 20px;
}

.twitter {
  height: 25px;
  width: 25px;
  fill: #00aced;
  margin-right: 20px;
}

.wifi {
  height: 25px;
  width: 25px;
  fill: rgb(216, 106, 84);
  margin-right: 20px;
}

.youtube {
  height: 25px;
  width: 25px;
  fill: #bb0000;
  margin-right: 20px;
}

/* Contenu du menu */
