* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: rgb(31, 33, 61);
}

.bandeVisuel {
  height: 8px;
  width: 100%;
  background: linear-gradient(0.25turn, #6571ee, #e66465);
  z-index: 2000;
  position: fixed;
}

header {
  height: 65px;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
}

.barreHeader {
  height: 65px;
  width: 100%;
  background: rgb(43, 46, 78);
}

.checkboxClass {
  display: none;
}

img {
  width: 30px;
  height: auto;
}

.labelClass {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin-right: 15px;
  background: rgb(43, 46, 78);
  cursor: pointer;
  top: 5px;
  z-index: 700;
}

.titreMenu {
  color: #6571ee;
  font-size: 10px;
  position: absolute;
  top: 35px;
  left: 10px;
  opacity: 1;
  transition: all, 0.3s;
}

.labelClass:hover > p {
  opacity: 0;
}

.point1 {
  position: absolute;
  top: 5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(190, 71, 220);
}

.point1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(159, 88, 206);
}

.point1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(109, 51, 147);
  transition: all, 0.3s;
}

.labelClass:hover > .point1::after {
  background: rgb(241, 14, 75);
}

.point2 {
  position: absolute;
  top: 17.5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(186, 44, 110);
  transition: all, 0.15s;
}

.labelClass:hover > .point2 {
  background: rgb(212, 72, 11);
}

.point2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(208, 71, 71);
}

.point2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(137, 79, 177);
}

.point3 {
  position: absolute;
  top: 29.5px;
  left: 22.5px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(11, 79, 146);
}

.point3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(241, 117, 14);
}

.point3::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50% 50%;
  background: rgb(11, 93, 175);
}

/* bouton paramètre */

.btnParam {
  cursor: pointer;
}

.param {
  height: 30px;
  width: 30px;
  fill: rgb(103, 76, 240);
  margin-right: 15px;
}

/* bouton recherche */

.btnRech {
  cursor: pointer;
}

.rech {
  height: 30px;
  width: 30px;
  fill: rgb(216, 84, 93);
  margin-right: 20px;
}

/* titre FRANDROID */

.logoF {
  display: flex;
  justify-content: center;
  align-items: center;
}

.F {
  position: relative;
  top: -1px;
}

.dessus {
  height: 6px;
  width: 20px;
  background: linear-gradient(0.25turn, #f33ded, #3c4cf6);
  margin-bottom: 2px;
  border-radius: 3px;
}

.milieu {
  height: 6px;
  width: 12px;
  background: linear-gradient(0.25turn, #ff8b32, #f33ded);
  border-radius: 3px;
}

.dessous {
  height: 6px;
  width: 6px;
  background: blue;
  margin-top: 2px;
  border-radius: 3px;
  background: #ff8b32;
}

h1 {
  color: #3c4cf6;
  margin-right: 20px;
}

/* Sous menu 1 */
a {
  text-decoration: none;
  font-size: 20px;
}

.Actus {
  color: #6571ee;
  margin-right: 8px;
}

.barre1 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #6571ee;
  transition: all, 0.3s;
}

.menuSimple1:hover > .barre1 {
  width: 50px;
}

/* Sous menu 2 */

.Tests {
  color: #65eed5;
  margin-right: 8px;
}

.barre2 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #65eed5;
  transition: all, 0.3s;
}

.menuSimple2:hover > .barre2 {
  width: 45px;
}

/* Sous menu 3 */

.Guides {
  color: #b9468b;
  margin-right: 8px;
}

.barre3 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #b9467a;
  transition: all, 0.3s;
}

.menuSimple3:hover > .barre3 {
  width: 63px;
}

/* Sous menu 4 */

.BonsPlans {
  color: #d0592d;
  margin-right: 8px;
}

.barre4 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #d0592d;
  transition: all, 0.3s;
}

.menuSimple4:hover > .barre4 {
  width: 98px;
}

/* Sous menu 5 */

.Tutos {
  color: #c065ee;
  margin-right: 8px;
}

.barre5 {
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background: #c065ee;
  transition: all, 0.3s;
}

.menuSimple5:hover > .barre5 {
  width: 49px;
}

/* Menu déroulant */

.menuChecked {
  width: 50px;
  height: 50px;
  top: 13px;
  border-radius: 50% 50%;
  position: absolute;
  background: rgb(43, 46, 78);
  transition: all 0.5s;
  z-index: 500;
  position: fixed;
}

.checkboxClass:checked + .menuChecked {
  transform: scale(100);
}

.checkboxClass:checked ~ .labelClass > .point1 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .point2 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .point3 {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > p {
  opacity: 0;
}

.checkboxClass:checked ~ .labelClass > .croixComplete > .croix {
  width: 20px;
  height: 4px;
  border-radius: 2px 2px;
  top: 15px;
  left: 15px;
  position: absolute;
  background: rgb(103, 76, 240) 00;
  transform: rotate(45deg);
}

.checkboxClass:checked ~ .labelClass > .croixComplete > .croix2 {
  width: 20px;
  height: 4px;
  border-radius: 2px 2px;
  top: 15px;
  left: 15px;
  position: absolute;
  background: rgb(103, 76, 240) 00;
  transform: rotate(135deg);
}

/* header du menu */

.menu {
  position: absolute;
  display: none;
}

.checkboxClass:checked ~ .menu {
  display: block;
  z-index: 1800;
  top: 0px;
  left: 125px;
  width: 800px;
  height: auto;
}

.hUn {
  font-size: 2em;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}

.sousHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 65px;
}

li {
  list-style-type: none;
}

.reseaux {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook {
  height: 25px;
  width: 25px;
  fill: #3b5998;
  margin-right: 20px;
}

.instagram {
  height: 30px;
  width: 30px;
  fill: rgb(215, 63, 73);
  margin-right: 20px;
}

.twitter {
  height: 25px;
  width: 25px;
  fill: #00aced;
  margin-right: 20px;
}

.wifi {
  height: 25px;
  width: 25px;
  fill: rgb(216, 106, 84);
  margin-right: 20px;
}

.youtube {
  height: 25px;
  width: 25px;
  fill: #bb0000;
  margin-right: 20px;
}

/* Contenu du menu */

.selection {
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.catégories {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #5560d6dc;
  cursor: pointer;
  transition: color 0.15s;
}
h2:hover {
  color: whitesmoke;
}

h3 {
  cursor: pointer;
  color: whitesmoke;
  transition: color 0.15s;
}
h3:hover {
  color: #5560d6dc;
}

li {
  cursor: pointer;
}

h3 + ul > li {
  color: whitesmoke;
  font-family: sans-serif;
  transition: color 0.15s;
  border-left: 0.5px solid rgb(245, 245, 245, 0.3);
  padding-left: 20px;
}

h3 + ul > li:hover {
  color: #5560d6dc;
  font-family: sans-serif;
  transition: color 0.15s;
}

.android {
  color: #65eed5;
}

.bonsPlans {
  color: rgb(216, 106, 84);
}

.BP {
  display: flex;
}

.flamme {
  width: 30px;
  height: 30px;
  fill: rgb(216, 106, 84);
  transform: translate(0, 10px);
  transition: all, 0.15s;
}

.flèche {
  fill: #5560d6dc;
  padding-bottom: 1px;
  transition: all 0.15s;
}

h2:hover > .flèche {
  fill: whitesmoke;
  transform: translate(5px, 0%);
}

.flècheBP {
  fill: rgb(216, 106, 84);
  padding-bottom: 1px;
  transition: all 0.15s;
}

h2:hover > .flècheBP {
  fill: whitesmoke;
  transform: translate(5px, 0%);
}

.flècheAND {
  fill: #65eed5;
  padding-bottom: 1px;
  transition: all 0.15s;
}

h2:hover > .flècheAND {
  fill: whitesmoke;
  transform: translate(5px, 0%);
}

h2:hover > .flamme {
  fill: whitesmoke;
  transform: rotate(300deg);
}

/* pied de page du menu */

.footerliste {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0px;
  background: rgb(33, 35, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > ul > li {
  margin-left: 10px;
  margin-right: 10px;
  color: whitesmoke;
}

/* deuxième menu */

.menuDeux {
  width: 950px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logoM2 {
  width: 30px;
  height: 30px;
  fill: rgb(245, 245, 245);
}
/* bouton a */

.M2a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMa {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(216, 84, 135) 0%, #5560d6dc 100%);
  transition: all 0.2s;
}

.M2a:hover > .animSMa {
  width: 30px;
}

.M2a:hover {
  opacity: 1;
}

/* bouton b */

.M2b {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMb {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(216, 106, 84) 0%, #d65555dc 100%);
  transition: all 0.2s;
}

.M2b:hover > .animSMb {
  width: 30px;
}

.M2b:hover {
  opacity: 1;
}

/* bouton c */

.M2c {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMc {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(84, 95, 216) 0%, #d6558ddc 100%);
  transition: all 0.2s;
}

.M2c:hover > .animSMc {
  width: 30px;
}

.M2c:hover {
  opacity: 1;
}

/* bouton d */

.M2d {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMd {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(84, 95, 216) 0%, #d6558ddc 100%);
  transition: all 0.2s;
}

.M2d:hover > .animSMd {
  width: 30px;
}

.M2d:hover {
  opacity: 1;
}

/* bouton e */

.M2e {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMe {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, #65eed5 0%, #5560d6dc 100%);
  transition: all 0.2s;
}

.M2e:hover > .animSMe {
  width: 30px;
}

.M2e:hover {
  opacity: 1;
}

/* bouton f */

.M2f {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMf {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, #65eed5 0%, #5560d6dc 100%);
  transition: all 0.2s;
}

.M2f:hover > .animSMf {
  width: 30px;
}
.M2f:hover {
  opacity: 1;
}

/* bouton g */

.M2g {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMg {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(216, 106, 84) 0%, #5560d6dc 100%);
  transition: all 0.2s;
}

.M2g:hover > .animSMg {
  width: 30px;
}

.M2g:hover {
  opacity: 1;
}
/* bouton h */

.M2h {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: rgb(245, 245, 245);
  opacity: 0.8;
  transition: all 0.2s;
}

.animSMh {
  width: 0px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(90deg, rgb(216, 106, 84) 0%, #d65555dc 100%);
  transition: all 0.2s;
}

.M2h:hover > .animSMh {
  width: 30px;
}

.M2h:hover {
  opacity: 1;
}

/* Menu 3 */

.menuTrois {
  width: 950px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.logoM3 {
  width: 17px;
  height: 17px;
  fill: #424cc1;
  margin-right: 10px;
  transition: all 0.2s;
}

.liM3 {
  color: #424cc1;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px #424cc1;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  transition: all 0.2s;
}

.liM3:hover {
  background: #424cc1;
  color: rgb(31, 33, 61);
}

.liM3:hover > svg {
  fill: rgb(31, 33, 61);
}
